* {
  box-sizing: border-box;
}
:root {
  --accent_color: #34547A;
}
.global__container {
  max-width: 1150px;
  margin: 0 auto;
}

/* Модальное окно header  */

.swal2-confirm a {
  color: #fff;
  text-decoration: none;
}

.swal2-deny a {
  color: #fff;
  text-decoration: none;
}

/* Header */

.header {
  background-color: #EEEFF1;
  padding-top: 63px;
  padding-bottom: 146px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 153px;
}
.header__top-img {
  padding-left: 22px;
}
.header__menu {
  margin-right: 29px;
}
.header__menu-item {
  font-family: roboto-regular;
  color: #000;
  line-height: 164%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-left: 39px;
  font-size: 16px;
}
.header__menu-item:hover {
  color: #34547A;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__body-frame {
  padding-left: 103px;
  margin-bottom: 26px;
}
.header__right {
  align-items: start;
  margin-right: 21px;
}
.header__right-title {
  font-family: roboto-medium;
  font-size: 48px;
  color: #000;
  margin-bottom: 50px;
}
.header__right-text {
  max-width: 540px;
  font-family: roboto-regular;
  font-size: 16px;
  line-height: 164%;
  color: #727272;
  margin-bottom: 52px;
}
.header__right-button {
  width: 225px;
  height: 65px;
  background-color: var(--accent_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.header__right-button-inside {
  font-family: roboto-regular;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
}
.header__modal {
  width: 1110px;
  height: 400px;
  background-color: #EEEFF1;
  padding: 50px;
  position: fixed;
  top: 150px;
  left: 200px;
}
.header__modal-title {
  font-family: roboto-medium;
  font-size: 32px;
  margin-bottom: 50px;
}
.header__modal-text {
  font-family: roboto-regular;
  font-size: 16px;
  line-height: 164%;
  color: #727272;
  margin-bottom: 50px;
}
.header__modal_nav {
  display: flex;
  justify-content: end;
}
.header__modal_nav-button {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-family: roboto-medium;
  font-size: 18px;
  margin: 0 20px;
}
.header__modal_nav-button:hover {
  color: var(--accent_color);
}


@media screen and (max-width: 1200px) {
  .global__container {
    max-width: 960px;
  }
  .header__top-img {
    padding-left: 0px;
  }
  .header__menu {
    margin-right: 0px;
  }
  .header__body-frame {
    padding-left: 0px;
  }
  .header__right {
    margin-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  .global__container {
    max-width: 720px;
  }
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__top-img {
    margin-bottom: 30px;
  }
  .header__menu-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__right {
    text-align: center;
  }
  .header__right-button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .global__container {
    max-width: 540px;
  }
  .header {
    padding-bottom: 80px;
  }
  .header__menu-item {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 576px) {
  .global__container {
    max-width: 320px;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header__right-title {
    font-size: 36px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header__top {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .header__menu-item {
    margin: 0 0 10px;
  }
}
@media screen and (max-width: 390px) {
  .header__body-frame {
    width: 300px;
  }
  .header__top {
    padding-right: 20px;
  }
  .header__top-img {
    padding-left: 20px;
  }
  .header__right-title {
    font-size: 30px;
  }
}

/* About */

.about {
  padding-top: 121px;
  padding-bottom: 92px;
}
.about__body {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}
.about__body-h2 {
  font-family: roboto-medium;
  font-size: 32px;
  color: #000;
  margin-bottom: 42px;
}
.about__body-p {
  font-family: roboto-regular;
  font-size: 16px;
  color: #727272;
  line-height: 164%;
}

@media screen and (max-width: 390px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about__body {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* Numbers */

.numbers {
  padding-top: 100px;
  padding-bottom: 99px;
  background-color: var(--accent_color);
}
.numbers__body {
  display: grid;
  gap: 49px;
  grid-template-columns: repeat(6, 1fr);
  width: 1091px;
  margin-left: 20px;
}
.numbers__item {
  width: 141px;
  display: flex;
  justify-content: space-between;
}
.numbers__item-img {
  width: 50px;
}
.numbers__text {
}
.numbers__text-title {
  display: block;
  font-family: roboto-medium;
  font-size: 21px;
  color: #fff;
  margin-bottom: 7px;
  margin-top: 4px;
}
.numbers__text-subtitle {
  font-family: roboto-regular;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .numbers__body {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .numbers__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 390px) {
  .numbers__body {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

/* Skills */

.skills {
  padding-top: 102px;
  padding-bottom: 100px;
}
.skills__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__content {
  margin-top: 44px;
}
.skills__content-title {
  font-family: roboto-medium;
  font-size: 32px;
  color: #000;
  margin-bottom: 46px;
}
.skills__item {
  margin-bottom: 30px;
}
.skills__item-name {
  font-family: roboto-regular;
  font-size: 16px;
  color: #727272;
  margin-bottom: 19px;
}
.skills__item-passive {
  width: 445px;
  height: 4px;
  background-color: #c4c4c4;
}
.skills__item-active {
  width: 350px;
  height: 4px;
  background-color: #34547A;
}
.skills__body-img {
  width: 555px;
}

@media screen and (max-width: 1200px) {
  .skills__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills__content {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .skills__body-img {
    width: 450px;
  }
}
@media screen and (max-width: 470px) {
  .skills {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills__item-passive {
    width: 297px;
  }
  .skills__item-active {
    width: 233px;
  }
  .skills__body-img {
    width: 300px;
  }
}

/* Video  */

.video {
  background-color: #EEEFF1;
  padding-top: 104px;
  padding-bottom: 99px;
  text-align: center;
}
.video-title {
  font-family: roboto-medium;
  font-size: 32px;
  color: #000;
  margin-bottom: 42px;
}
.video-text {
  font-family: roboto-regular;
  font-size: 16px;
  line-height: 164%;
  color: #727272;
  padding-bottom: 48px;
  max-width: 540px;
  margin: 0 auto;
}
.video_box {
  position: relative;
}
.video_box video {
  margin: 0 auto;
  width: 1110px;
}
.video_box img {
  display: block;
  position: absolute;
  top: 250px;
  left: 525px;
  width: 100px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .video_box video {
    width: 940px;
  }
  .video_box img {
    top: 200px;
    left: 440px;
  }
}
@media screen and (max-width: 992px) {
  .video_box video {
    width: 700px;
  }
  .video_box img {
    top: 140px;
    left: 310px;
  }
}
@media screen and (max-width: 768px) {
  .video_box video {
    width: 520px;
  }
  .video_box img {
    top: 100px;
    left: 230px;
    width: 80px;
  }
}
@media screen and (max-width: 576px) {
  .video {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .video_box video {
    width: 300px;
  }
  .video_box img {
    top: 55px;
    left: 135px;
    width: 50px;
  }
  .video-text {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* Projects  */

.projects {
  padding-top: 27px;
}
.projects__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects__item {
  width: 480px;
  height: 480px;
  position: relative;
}
.projects__item:hover .projects__item-hover {
  display: flex;
  cursor: pointer;
}
.projects__item-hover {
  height: 480px;
  width: 480px;
  background-color: rgba(52, 84, 122, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.projects__item-img {
  width: 480px;
  height: 480px;
}
.projects__item-icon {
}

@media screen and (max-width: 960px) {
  .projects__item {
    width: 400px;
    height: 400px;
  }
  .projects__item-hover {
    height: 400px;
    width: 400px;
  }
  .projects__item-img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .projects__item {
    width: 320px;
    height: 320px;
  }
  .projects__item-hover {
    height: 320px;
    width: 320px;
  }
  .projects__item-img {
    width: 320px;
    height: 320px;
  }
}








@media screen and (max-width: 1200px) {
 
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 470px) {

}
@media screen and (max-width: 390px) {
  
}